
/*---------------------------------------
    Banner
-----------------------------------------*/
.banner-wave-bottom{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.banner-section{
    position: relative;
}
.banner-section img{
    width: 100%;
}
.banner-header-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner-section h1{
    color: white;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow: 1px 1px 4px #424242;
}
.room-select{
    font-size: 16px;
    animation: shake-slow 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}


/*---------------------------------------
    Room content section
-----------------------------------------*/
.room-section{
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}
.room-section .container{
    width: 80%;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.product-detail-gallery{
    text-align: center;
    padding-top: 50px;
}
.slider-section{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x:hidden;
    overflow-y: visible;
}
.gallery-slider li .image{
    width: 100%;
    transition: 0.5s all;
	height:40vh;
	background-repeat: no-repeat !important;
	background-size:  auto 100% !important;
}
.gallery-slider li .image:hover{
    transform:scale(1.4);
}

.product-detail-header{
    width: 100%;
    position: relative;
    display: inline-block;
}
.product-detail-header-main{
    max-width: 50%;
    padding-right: 10%;
    float: left;
    position: relative;
    border-right:1px solid #E7E7E7;
}
.product-detail-header-main h1{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#494949;
}
.product-description{
    font-size: 14px;
    color:#5D5D5D;
    margin-bottom: 20px;
}
.product-description-side{
    font-size: 14px;
}

.product-detail-header-side{
    padding-top: 20px;
    width: 50%;
    float: left;
    position: relative;
    padding-left:3%;
}
.product-detail-info li{
    color:#8F9193;
}
.section-title{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0;
}
.buy-now-btn{
	font-size: 14px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    color:white;
    padding:10px 20px;
}
.buy-now-btn:hover{
    color: white;
	opacity: 0.7;
}
.check-icon{
	color:#1BC37C;
	padding-right: 20px;
	padding-top: 10px;
}
.product-detail-footer{
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
}
.shake-infinite{
    animation: shake-slow 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.small-info{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.room-description{
    font-size: 14px;
    margin-top: 60px;
}
.product-detail-footer select {
    width: 200px;
    padding-top: 7px;
    padding-bottom: 12px;
}
.product-detail-footer .gap{
    display: inline-block;
    border-right: 1px solid gray;
    padding-right: 18px;
    margin-right: 16px;
}
.equipment-list li{
    padding-bottom: 20px;
    text-align: left;
}
