
/*---------------------------------------
    Banner
-----------------------------------------*/
.banner-wave-bottom{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.banner-section{
    position: relative;
}
.banner-section img{
    width: 100%;
}
.banner-section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow: 1px 1px 4px #424242;
}



/*---------------------------------------
    Room content section
-----------------------------------------*/
.cruises-section{
    position: relative;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 100px;
}
.cruises-section .container{
    width: 80%;
    margin: auto;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.product-detail-gallery{
    text-align: center;
    padding-top: 50px;
}
.slider-section{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x:hidden;
    overflow-y: visible;
}
.gallery-slider li .image{
    width: 100%;
    transition: 0.5s all;
	height:28vh;
	background-repeat: no-repeat !important;
	background-size:  auto 100% !important;
}
.gallery-slider li .image:hover{
    transform:scale(1.4);
}

.product-detail-header{
    width: 100%;
    position: relative;
    display: inline-block;
}
.product-detail-header-main{
    max-width: 100%;
    float: left;
    position: relative;
    text-align: center;
}
.product-detail-header-main h1{
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#494949;
}
.product-description{
    font-size: 14px;
    color:#5D5D5D;
    margin-bottom: 20px;
}

.product-detail-info li{
    color:#8F9193;
}
.section-title{
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0;
}
.buy-now-btn{
	font-size: 14px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    color:white;
    padding:10px 20px;
}
.buy-now-btn:hover{
    color: white;
	opacity: 0.7;
}
.check-icon{
	color:#1BC37C;
	padding-right: 20px;
	padding-top: 10px;
}
.product-detail-footer{
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
}
.shake-infinite{
    animation: shake-slow 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.small-info{
    font-size: 12px;
    text-align: center;
    margin-bottom: 20px;
}
.room-description{
    font-size: 14px;
    margin-top: 60px;
}
.product-detail-footer select {
    width: 200px;
    padding-top: 7px;
    padding-bottom: 12px;
}
.product-detail-footer .gap{
    display: inline-block;
    border-right: 1px solid gray;
    padding-right: 18px;
    margin-right: 16px;
}
.cruises-tab{
    text-align: center;
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 60px;
}
.nav-pills>li.active>a{
    background: #ffa575 !important;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%) !important;
    border-radius: 0;
}
.nav-pills>li>a{
    background: #F4F4F4;
    border-radius: 0;
    color:#6E6E6E;
}
.product-detail-body{
    text-align: center;
}
.tab-content{
    width: 100%;
    margin: auto;
    text-align: left;
}
.description-list{
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.bar-description-list{
    columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
#blueprint{
    text-align: center;
}
.lSSlideWrapper{
    overflow: hidden;
    width: 300px;
    margin: auto;
}
.lSSlideOuter .lSPager.lSGallery{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.lSSlideOuter .lightSlider>* img{
    width:100%;
}
.small-content{
    width: 80%;
    margin: auto;
}
.magnify > .magnify-lens {
  width: 150px;
  height: 150px;
}
