
/*---------------------------------------
    Banner
-----------------------------------------*/
.banner-wave-bottom{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.banner-section{
    position: relative;
    width: 100%;
}
.banner-section img{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: -2;
}


/*---------------------------------------
    Booking Section
-----------------------------------------*/

.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: -1;
    background: rgba(0,0,0,0.5);
}
#msform {
	width: 800px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
    border-bottom-right-radius: 20px;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color: #2C3E50;
	font-size: 13px;
}
.form-label{
    text-align: left;
    font-size: 12px;
    padding:0;
    margin:0;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #B9B9B9;
	font-weight: lighter;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .success-button {
	width: 100px;
	background: #31E28A;
	font-weight: lighter;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
.modal-footer,.modal-header{
    border-top: 0;
    border-bottom: 0;
}
#msform .add-room-button, .notification-button,.notification-2-button ,.notification-3-button {
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
	font-weight: lighter;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
	font-size: 15px;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
    margin-top: 10px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
    margin-left:-30px;
}
#progressbar li {
	list-style-type: none;
	color: white;
	font-size: 14px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 25px;
	line-height: 25px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 100%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
.form-section{
    position: relative;
    text-align: center;
    margin: auto;
    padding-top: 150px;
}

.form-section h1{
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    text-shadow: 1px 1px 4px #424242;
}
.input-link{
    width: 100%;
    float: left;
    text-align: left;
    font-size: 14px;
    padding-bottom: 5px;
    color: #ffa575;
}
#msform  select{
    margin-bottom: 0;
}
.row-detail{
    padding:10px 20px;
    width: 100%;
    text-align: left;
}
.row-detail h2{
    width: 100%;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color:#3F3F3F !important;
}
.row-detail [class*=col]{
    padding:0;
}
.personal-row .col-sm-6{
    padding-right: 10px;
}
.row-detail .title{
    font-size: 13px;
    color:#4D4D4D !important;
    font-weight: 300 !important;
}
.row-detail .btn-default{
    border:1px solid lightgray;
    font-size: 12px;
}
.row-detail .detail {
    font-size: 12px;
    color:#787878 !important;
    font-weight: 300;
}
.row-detail .col-sm-12{
    margin-bottom: 30px;
}
.nav-pills>li.active>a{
    background: #ffa575 !important;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%) !important;
    border-radius: 0;
}
.nav-pills>li>a{
    background: #F4F4F4;
    border-radius: 0;
    color:#6E6E6E;
}
.tab-content{
    width: 100%;
    margin: auto;
    text-align: left;
    padding-top: 20px;
}
.panel-title{
    font-size: 14px;
}
.panel-collapse{
    margin: 15px;
}
.total, .total-amount{
    background: #F1F1F1;
    padding: 10px !important;
}
.checkbox-inline input{
    width: auto !important;
}
.booking-banner{
    height: 100%;
    width: 100% !important;
}
.wave-top{
    left: 0;
    top: 0;
    position: absolute;
    width: 150px;
}
.adult-select{
    margin-bottom: 10px !important;
}
.no-margin{
    margin-bottom: 0px !important;
}
