
/* Body
------------------------------------- */
body {
    background: #ffffff;
    font-family: Tahoma, Geneva, sans-serif;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,body {
  width: 100%;
  overflow-x: hidden !important;
}

html {
  font-size: 100%;
}
select{
    background: white;
}

/*---------------------------------------
    Typorgraphy
-----------------------------------------*/

h1,h2,h3,h4 {
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
  padding-bottom: 8px;
}

h2 {
  color: #e44c65;
  font-size: 1.2rem;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

p {
  color: #888;
  font-size: 16px;
  line-height: 34px;
}

#banner p,
#contact p, footer p {
  color: #f9f9f9;
}

.btn {
  border:none;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

.btn:focus {
  background: #ffa575;
  color: white;
  border-color: transparent;
  outline: none !important;
}

.btn-success {
  background: #e44c65;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 14px 32px;
  margin-top: 26px;
}

.btn-success:hover {
  background: #222;
}

a {
  color: #e44c65;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #e44c65;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*---------------------------------------
    All Section style
-----------------------------------------*/

.section-title {
  padding-bottom: 62px;
}

#gallery,
#contact {
  padding: 0
  position: relative;
}

#gallery,
#contact, footer {
  text-align: center;
}

#gallery .container{
    width: 100%;
    padding:0;
}
.cs-style-4{
    width: 100%;
    padding: 0;
}
.cs-style-4 li{
    padding:0;
}


/*---------------------------------------
    Pre Loader Style
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #ffcc45;
  border-radius: 100%;
  margin: 40px auto;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }



/*---------------------------------------
    Main Navigation
-----------------------------------------*/
.booking-btn, .logout-btn{
    display: none;
}
.logo-img{
    width: 110px;
    margin-left:-20px;
}
.navbar-default {
  background: transparent;
  border: none;
  margin-bottom: 0px !important;
  height: 75px;
  transition: 0.4s all;
}

.language-select{
    color: white;
    padding-top: 12px;
    font-size: 25px;
}

.navbar-default .navbar-brand {
  color: #304352;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.nav-fixed .navbar-nav li a, .nav-fixed .language-select, .nav-fixed #selectLanguageDropdown:before, .nav-fixed .localizationTool .ltool-dropdown-label{
    color:white ;
}

i.fas.fa-shopping-cart{
    padding-right: 10px;
}

.navbar-default .navbar-nav li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}

.navbar-default .navbar-nav li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);

}

.navbar-default .navbar-nav li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: transparent;
}

.navbar-default .navbar-nav > li a:hover {
    opacity: 0.5;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffbc46 !important;
    background-color: transparent;
}

.navbar-nav{
    padding-top:15px;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
    background: white;
  }
  .active-menu {
      position: fixed;
      right: 0;
  }
.active-menu .icon-bar{
    background: gray !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.nav-fixed{
     box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
     background: #ffb58d; /* Old browsers */
     background: -moz-linear-gradient(45deg, #ffb58d 0%, #ffc149 100%);
     background: -webkit-linear-gradient(45deg, #ffb58d 0%,#ffc149 100%);
     background: linear-gradient(45deg, #ffb58d 0%,#ffc149 100%);
}
#selectLanguageDropdown:before{
    font-family: "Font Awesome 5 Free";
	content: "\f57d";
    font-weight: 900;
    color: white;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#selectLanguageDropdown{
    width: 100px;
    background: transparent;
    padding-top: 3px;

}
.localizationTool .ltool-dropdown-label{
    outline:none;
    display: inline-block;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out !important;
}
.localizationTool .ltool-dropdown-label-arrow{
    display: none !important;
}

.navbar-fixed-top{
    position: absolute;
}

.layout-wave{
    position: absolute;
    top:0;
    z-index: 100;
}

.layout-overlay-gradient{
    width: 100%;
    top:0;
    position: absolute;
    left:0;
    opacity: 1;
    z-index: 1;
}

/*---------------------------------------
    Footer section
-----------------------------------------*/

footer {
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
}

footer p{
    font-size: 14px;
    font-weight: 300;
}
/*---------------------------------------
   Back top
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #222;
  font-size: 26px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  border-radius: 100%;
}

.go-top:hover {
  background: #f6c33d;
  color: #ffffff;
}
.booking-btn{
    border-radius: 5px;
    padding: 7px 20px !important;
    margin-top: 8px;
    margin-left: 15px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    color: white;
}


/* ------------------------------------------------------------------------------
	 Login form
-------------------------------------------------------------------------------*/

.login-btn, .logout-btn{
    border-radius: 5px;
    padding: 6px 20px !important;
    margin-top: 8px;
    margin-left: 15px;
    background: transparent;
    border:1px solid white;
    color: white;
}
.login-btn:hover{
    background: white !important;
    color:gray !important;
    opacity: 1 !important;
}
.login-form-section{
	display: none;
	background: rgba(0,0,0,0.7);
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 2002;
}
.login-form-panel form label{
	float: left;
	font-size: 11px;
    font-weight: 300;
	color:#afafaf;
}
.login-form-panel {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 340px;
	border-radius:10px;
	padding: 45px;
	text-align: center;
	z-index: 10;
}

.login-form-panel input::-webkit-input-placeholder{
  color: #b5b9c8;
}
.login-form-panel input,select  {
  color:gray;
  width: 100%;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 13px;
  border:1px solid lightgray;
}
.login-form-panel form button {
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  color: white;
  font-size: 14px;
  transition: all 0.3 ease;
  margin-top: 15px;
}
.login-form-panel form button:hover,
.login-form-panel form button:active,
.login-form-panel form button:focus {
  opacity:0.7;
  color:white !important;
}
.login-form-panel .login-message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-form-panel .login-message a {
  color: #ffa575;
  text-decoration: none;
}
.login-form-panel .login-message a:hover {
  opacity:0.7;
}
.login-form-panel .register-form {
  display: none;
}
.login-logo{
	display:block;
	width:120px;
	margin:auto;
	margin-bottom: 50px;
}
.close-login-form-btn{
	background:transparent;
	border:none;
	outline: none;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 18px;
}
.close-login-form-btn:active,.close-login-form-btn:focus{
	outline: none;
}
.close-login-form-btn:hover{
	opacity: 0.7;
}
.login-form-outside{
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}
.panel-title{
    cursor: pointer;
}

/*---------------------------------------
    Animation section
-----------------------------------------*/

@keyframes shake-slow {
  5%, 45% {
    transform: translate3d(-1px, 0, 0);
  }

  10%, 40% {
    transform: translate3d(2px, 0, 0);
  }

  15%, 25%, 35% {
    transform: translate3d(-4px, 0, 0);
  }

  20%, 30% {
    transform: translate3d(4px, 0, 0);
  }
}
