


/*---------------------------------------
    Banner
-----------------------------------------*/
.banner-wave-bottom{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.banner-section{
    position: relative;
}
.banner-section img{
    width: 100%;
}
.banner-section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 34px;
    font-weight: 900;
    letter-spacing: 4px;
    text-shadow: 1px 1px 4px #424242;
}


/* ------------------------------------------------------------------------------
	 Plan section
-------------------------------------------------------------------------------*/

.plan-section{
    position: relative;
    padding-top: 40px;
    overflow: hidden;
}
.plan-section .container{
    width: 80%;
}
ul, ol {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
}
.product-detail-gallery{
    text-align: center;
    padding-top: 50px;
}
.slider-section{
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-x:hidden;
    overflow-y: visible;
}
.gallery-slider li .image{
    width: 100%;
    transition: 0.5s all;
	height:28vh;
	background-repeat: no-repeat !important;
	background-size:  auto 100% !important;
}
.gallery-slider li .image:hover{
    transform:scale(1.4);
}

.product-detail-header{
    width: 100%;
    position: relative;
    display: inline-block;
}
.product-detail-header-main{
    max-width: 50%;
    padding-right: 10%;
    float: left;
    position: relative;
    border-right:1px solid #E7E7E7;
}
.product-detail-header-main h1{
    font-size: 24px;
    font-weight: 700;
    color:#494949;
}
.product-description{
    font-size: 14px;
    color:#5D5D5D;
    margin-bottom: 20px;
}
.product-description-side{
    font-size: 14px;
}

.product-detail-header-side{
    padding-top: 20px;
    width: 50%;
    float: left;
    position: relative;
    padding-left:3%;
}
.product-detail-info li{
    color:#8F9193;
}
.section-title{
    margin-bottom: 10px;
}
.buy-now-btn{
	font-size: 14px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    color:white;
    padding:10px 20px;
}
.buy-now-btn:hover{
    color: white;
	opacity: 0.7;
}
.check-icon{
	color:#1BC37C;
	padding-right: 20px;
	padding-top: 10px;
}
.product-detail-footer{
	text-align: center;
	padding-top: 50px;
    padding-bottom: 50px;
}
.shake-infinite{
    animation: shake-slow 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
  color: #B0B0B0;
  font-size: 12px;
  padding-bottom: 20px;
}

.status {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
}
.status:before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -8px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #FF8F57;
}
.li.complete .status:before {
  background-color: #FF8F57;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #FF8F57;
  padding-top: 10px;
  font-size: 14px;
  font-weight: 300;
}
.plan-description{
    font-size: 14px;
    margin-top: 60px;
}
.route{
    background: #F0F0F0;
    padding-top:5px;
    padding-bottom: 5px;
    text-align: center;
    color: #6F6E6E;
}
.mobile-timeline {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0 62px;
  margin: 0;
  list-style: none;
  display: none;
}
.mobile-timeline::before {
  position: fixed;
  top: 0;
  height: 100%;
  padding-right: 11px;
  border-right: 2px solid #F2F2F2;
  content: "";
}
.mobile-timeline__item {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  align-items: stretch;
  padding: 62px 0;
}
.mobile-timeline__step {
  padding-right: 62px;
}
.mobile-timeline__step__marker {
  position: relative;
  display: table-cell;
  height: 24px;
  min-height: 24px;
  width: 24px;
  min-width: 24px;
  border: 4px solid #F2F2F2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  z-index: 0;
}
.mobile-timeline__step__marker--red {
  border-color: #FF3467;
}
.mobile-timeline__step__marker--blue {
  border-color: #18D0BF;
}
.mobile-timeline__step__marker--salmon {
  border-color: #F48A6D;
}
.mobile-timeline__step__marker--purple {
  border-color: #C178FA;
}
.mobile-timeline__time {
  padding-right: 126px;
  font-size: 26px;
}
.mobile-timeline__title {
  padding-bottom: 26px;
  font-size: 32px;
}
.mobile-timeline__points {
  padding: 0;
  list-style: none;
  font-size: 24px;
  color: #77777D;
}
.mobile-timeline__points > * {
  padding: 0 0 12px 0;
}

/* For mobile!
 */
@media (max-width: 768px) {
  .mobile-timeline {
    padding: 0 35.42857px;
  }
  .mobile-timeline::before {
    padding-right: 6.28571px;
  }
  .mobile-timeline__item {
    padding: 35.42857px 0;
  }
  .mobile-timeline__step {
    padding-right: 35.42857px;
  }
  .mobile-timeline__step__marker {
    height: 13.71429px;
    min-hieght: 13.71429px;
    width: 13.71429px;
    min-width: 13.71429px;
    border-width: 2.28571px;
  }
  .mobile-timeline__time {
    padding-right: 72px;
    font-size: 14.85714px;
  }
  .mobile-timeline__title {
    padding-bottom: 14.85714px;
    font-size: 18.28571px;
  }
  .mobile-timeline__points {
    font-size: 13.71429px;
  }
  .mobile-timeline__points > * {
    padding-bottom: 6.85714px;
  }
}
