/* ------------------------------------------------------------------------------
	 Route Section
-------------------------------------------------------------------------------*/
#route{
    padding-top: 150px;
    background: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding-bottom: 100px;
}

#route h1{
    font-size: 26px;
    font-weight: 900;
}

.route-item-section i{
    font-size: 24px;
    margin: 50px;
}
.route-item{
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    border: 1px solid white;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s all;
}
.route-item:hover{
    background: white;
    color:#222222;
}
#route label{
    font-weight: 300;
    margin-top: 20px;
}
.route-btn{
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}
/*---------------------------------------
    Banner Section
-----------------------------------------*/

#banner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

#banner h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 4px;
  text-shadow: 1px 1px 4px #424242;
  padding-bottom: 0;
  margin-bottom: 0;
}

#banner p{
    font-size: 20px;
    text-shadow: 1px 1px 2px #424242;
    font-weight: 300;
    color: white;
}

#banner .col-md-8 {
  padding-left: 62px;
}

.banner-btn{
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    color:white;
    font-weight: 300;
    font-size: 14px;
    border:1px solid white;
    margin-top:10px;
    border-radius: 5px;
}

.banner-btn:hover{
    background: white;
    border:1px solid white;
    color:#3b3b3b;
}
#banner .container{
    text-align: center;
}

.booking-section{
    position: absolute;
    left: -20px;
    margin-top: auto;
    margin-bottom: auto;
    width: 300px;
    height: 350px;
    background: rgba(0,0,0,0.4);
    border:1px solid white;
    text-align: left;
    padding:40px;
}
.booking-section .row{
    margin: 0;
}
.booking-section h2{
    font-size: 15px !important;
    letter-spacing: 1px !important;
    font-weight: 700;
    padding-bottom: 10px;
    color: white;
}
.booking-section label{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.banner-line{
    width: 4%;
    margin: auto;
    margin-bottom: 20px;
    border-width: 3px;
    border-color: white;
    text-shadow: 1px 1px 6px #424242;
}
.banner-overlay{
    background: rgba(0,0,0,0.2);
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 130vh;
    z-index: -1;
}

.book-btn{
    background: transparent;
    border:1px solid white;
    color: white;
}
.dotted-line{
    width: 4px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: -15%;
    z-index: 1000;
}

/*---------------------------------------
    Galllery section
-----------------------------------------*/

#gallery h1{
    font-size: 24px;
    font-weight: 300;
}

#gallery {
    padding-top: 40px;
  background: #ffffff;
  padding-bottom: 40px;
}

#gallery .gallery-thumb {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  cursor: pointer;
  display: block;
  margin-bottom: 25px;
  position: relative;
  top: 0px;
  transition: all 0.4s ease-in-out;
}

#gallery .gallery-thumb:hover {
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

#gallery figure{
    cursor: pointer;
}

#gallery .gallery-thumb img {
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}

.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
    margin:20px 30px;
	position: relative;
}

.grid figure img {
	width: 100%;
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 42px 22px;
    background: #ffa575;
    background: -moz-linear-gradient(45deg, #ffa575 0%, #ffaf3f 100%);
    background: -webkit-linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
    background: linear-gradient(45deg, #ffa575 0%,#ffaf3f 100%);
	color: #ed4e6e;
}

.grid figcaption h1 {
	font-size: 1.6rem;
	line-height: 2.2rem;
	margin: 0;
	padding-bottom: 12px;
	color: #fff;
}

.grid figcaption small {
	font-size: 16px;
	letter-spacing: 1px;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: transparent;
    border:1px solid white;
	color: #fff;
}
.grid figcaption a:hover {
	background: white;
    border:1px solid white;
	color: gray;
}

/* Caption Style 4 */
.cs-style-4 li {
	-webkit-perspective: 1700px;
	-moz-perspective: 1700px;
	perspective: 1700px;
	-webkit-perspective-origin: 0 50%;
	-moz-perspective-origin: 0 50%;
	perspective-origin: 0 50%;
}

.cs-style-4 figure {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cs-style-4 figure > div {
	overflow: hidden;
}

.cs-style-4 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-4 figure:hover img,
.cs-style-4 figure.cs-hover img {
	-webkit-transform: translateX(35%);
	-moz-transform: translateX(35%);
	-ms-transform: translateX(35%);
	transform: translateX(35%);
}

.cs-style-4 figcaption {
	height: 100%;
	width: 50%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotateY(-90deg);
	-moz-transform: rotateY(-90deg);
	transform: rotateY(-90deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-4 figure:hover figcaption,
.cs-style-4 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-4 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


/* ------------------------------------------------------------------------------
	 About Section
-------------------------------------------------------------------------------*/
#about{
    height: 300px;
    background: white;
    position: relative;
    text-align: center;
    padding-top: 20px;
    margin-top: 100px;
}
#about h1{
    font-weight: 900;
    font-size: 26px;
}
#about p{
    font-size: 15px;
    width: 60%;
    margin: auto;
    margin-bottom: 20px;
}
.about-wave-top{
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}
.about-wave-bottom{
    position: absolute;
    bottom: -110px;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
}

.speaker {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;  position: absolute;
  top: 100px;
  right: 95px;
  z-index: 1000;
}
.speaker span {
  display: block;
  width: 8px;
  height: 8px;
  background: #fff;
  margin: 11px 0 0 2px;

}
.speaker span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 10px 14px 10px 15px;
  left: -13px;
  top: 5px;
}
.speaker span:before {
  transform: rotate(45deg);
  border-radius: 0 50px 0 0;
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-style: double;
  border-color: #fff;
  border-width: 7px 7px 0 0;
  left: 18px;
  top: 9px;
  transition: all 0.2s ease-out;
}
.speaker:hover span:before {
  transform: scale(0.8) translate(-3px, 0) rotate(42deg);
}
.speaker.mute span:before {
  transform: scale(0.5) translate(-15px, 0) rotate(36deg);
  opacity: 0;
}
