@media screen and (max-width: 1200px) {
    .booking-btn span{
        color: white !important;
    }
    .logout-btn,.login-btn{
        border:1px solid lightgray;
    }
    .localizationTool.ltool-is-visible ul{
        z-index: 1000;
        background: lightgray;
        box-shadow: 0px 2px 4px lightgrey;
        width: 90%;
    }
    #selectLanguageDropdown:before
    {
        color:gray;
    }
    #selectLanguageDropdown{
        padding-left: 20px;
        width: 100%;
    }
    #selectLanguageDropdown span{
        color: gray;
    }
    .cruises-tab li{
        width:20%;
        margin: 0 !important;
    }
    .cruises-tab>li>a{
        height: 55px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-default .navbar-nav li a span{
        color : #304352;
    }
    .navbar-default .navbar-nav li a span:before {
        background: transparent !important;
    }
    .navbar-default .navbar-nav li.active a span{
        background: transparent;
        background: none;
        color: #ffbc46 !important;
    }
    .navbar-default .navbar-nav li.active a span:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background: white;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        margin: 0;
        z-index: -1;
        padding: 20px;
        padding-right: 30px;
        max-height: 100vh;
        box-shadow: 0px 2px 6px lightgray;
    }
    .navbar-toggle {
        display: block;
        position: relative;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none;
    }
    .navbar-collapse.in{
        display: block !important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-expand-custom .container{
        width: 100%;
    }
}

@media screen and (max-width: 980px) {
    .speaker{
        right:5%;
    }
    .nav-pills>li>a{
        height: auto;
    }
    .booking-banner{
        height: 100%;
        width: auto !important;
    }
    #about p{
        width: 80%;
    }
    .about-wave-top{
        height: 65px;
        top: -63px;
    }
    .about-wave-bottom{
        bottom: -64px;
        height: 65px;
    }
    #about{
        height: auto;
        padding-bottom: 23px;
    }
    .no-touch .cs-style-4 figure:hover img,
    .cs-style-4 figure.cs-hover img {
    	-webkit-transform: none;
    	-moz-transform: none;
    	-ms-transform: none;
    	transform: none;
    }
    .grid figcaption h1 {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .grid figcaption {
        padding: 22px 18px;
    }
    .cruises-tab li{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {

    .banner-section img{
        width: 180%;
    }
    .banner-wave-bottom
    {
        width: 110% !important;
        height: 70px;
    }

    .grid figure{
        margin: 0 !important;
        padding: 0 !important;
    }
    .grid figure img{
        width: 150%;
        max-width: 150%;
        margin-left:-20%;
    }
    .cs-style-4 figcaption {
        opacity: 1;
        display: none;
    }
    .cs-style-4 figcaption{
        -webkit-transform: none;
        -moz-transform: none;
        transform: none;
    }
    .horizontal-timeline{
        display: none;
    }
    .mobile-timeline{
        display: flex;
        position: relative;
    }
    .mobile-timeline::before{
        position: absolute;
    }
    fieldset .row-detail{
        padding-right: 0;
    }
    #msform{
        width: 600px;
    }
    .product-detail-header-main{
        max-width: 100%;
        border:none;
        border-bottom: 1px solid #E7E7E7;
        padding-bottom: 10%;
        padding-right: 0%;
    }
    .product-detail-header-side{
        max-width: 100%;
        width: 100%;
    }
    .banner-header-section{
        z-index: 1000;
    }


    .grid {
        padding: 10px 10px 100px 10px;
    }
    .grid li {
        width: 100%;
        min-width: 300px;
    }
    #banner, .overlay {
        height: 100vh;
    }


}
@media screen and (max-width: 650px) {
    .cruises-tab>li>a{
        height: 60px;
    }
    .speaker{
        display: none;
    }
    .booking-banner{
        margin-left: -40%;
    }
    #msform{
        width: 500px;
    }
    h1 {
        font-size: 1.6rem;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 100%;
    }

    #gallery,
    #contact {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .product-detail-footer .gap{
        display: block;
        border-right: none;
        padding-right: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

}
@media screen and (max-width: 480px) {

    #msform{
        width: 320px;
    }
    #msform fieldset{
        margin: 0;
        width: 100%;
    }

    .logo-img{
        margin-left:10px;
    }
    .cruises-tab li{
        width:50%;
        margin: 0 !important;
    }
    .cruises-section .container,.room-section .container{
        width: 95%;
    }
    .wellness-description-list, .bar-description-list{
        columns:1;
        -webkit-columns:1;
        -moz-columns: 1;
    }
    .wellness-description-list li, .bar-description-list li{
        width: 100% !important;
    }
    .gallery{
        width: 300px;
    }
    .gallery .slider{
        width: 300px;
    }
    .plan-section .container{
        width: 90%;
    }
    .room-banner{
        width: 220% !important;
        margin-left: -20%;
    }
    .lSSlideOuter .lSPager.lSpg li{
        width: auto !important;
    }
}
@media screen and (max-width: 320px) {
    #msform{
        width: 200px;
    }
    #msform fieldset{
        margin: 0;
        width: 100%;
    }
}
